.menu-container div {
  max-width: 1080px;
  margin: auto;
  font-family: "Open Sans", Arial, sans-serif;
}

.menu-title,
.menu-appetizers,
.menu-pizzas,
.menu-sides {
  position: relative;
  padding: 5% 10%;
}

/* menu-title */
.menu-title {
  padding: clamp(50px, 8vh, 50px) 10%;
}
.menu-title h1 {
  text-align: center;
  font-family: "Poiret One", display;
  font-size: clamp(40px, 10vw, 100px);
  font-weight: 700;
  letter-spacing: 12px;
  margin-bottom: clamp(90px, 2vh, 110px);
}
.menu-title__options {
  display: flex;
  flex-direction: column;
  color: black;
  font-weight: 700;
  letter-spacing: 1.4px;
  font-size: clamp(14px, 2vw, 14px);
}
.menu-title__options .option {
  padding: 20px;
  width: 100%;
  text-align: center;
}
.options__app {
  background-color: white;
}
.options__cla {
  background-color: var(--yellow);
}
.options__sid {
  background-color: var(--orange);
}

/*menu-appetizers  */
.menu-appetizers,
body .menu-pizzas,
.menu-sides {
  padding: clamp(50px, 5vh, 50px) 10%;
}
h2,
h3 {
  text-transform: uppercase;
  font-family: "Montserrat", Helvetica, Arial, Lucida, sans-serif;
  font-weight: 700;
}
h2 {
  max-width: 1080px;

  font-size: clamp(19px, 5vw, 35px);
  letter-spacing: 6px;
  margin: clamp(30px, 5vh, 30px) auto;
  margin-bottom: clamp(40px, 5vh, 40px);
}

h3 {
  font-size: clamp(14px, 2vw, 16px);
  letter-spacing: 2px;
  line-height: 1.2em;
}

.appetizers-container,
.sides-container {
  display: flex;
  flex-direction: column;
  gap: 25px;

  background-color: white;
  color: rgb(102, 102, 102);
  padding: clamp(60px, 5vh, 60px) clamp(30px, 5vw, 30px);
  line-height: 28px;
}
.appetizers-container div {
  margin: 0;
}
.appetizers-container p span,
.sides-container p span {
  color: rgb(102, 102, 102);
  font-weight: 700;
}

/* menu-pizzas */
.menu-pizzas .grid-images-container div {
  text-align: left;
  letter-spacing: 1px;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(13px, 5vw, 13px);
  font-weight: 700;
  text-transform: uppercase;

  line-height: 2em;

  padding: clamp(20px, 3vh, 20px);
}
.menu-pizzas .grid-images-container div span {
  color: var(--yellow);
}
/* menu-sides */
.menu-sides h3 {
  text-transform: uppercase;
}
.sides-container {
  text-align: center;
}
/* menu-pizzas, menu-section */
.menu-pizzas .grid-images-container {
  position: relative;
}
.menu-pizzas .grid-images-container div {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
}

@media (min-width: 768px) and (min-height: 450px) {
  .menu-pizzas .menu-section__container {
    display: initial;
  }
  .menu-pizzas .menu-section__container .menu-section__grid {
    width: 100%;
  }
  .menu-pizzas .menu-section__grid .grid-images-container {
    height: clamp(350px, 30vh, 650px);
  }
}

@media (min-width: 981px) {
  /* menu title */
  .menu-title h1 {
    transform: rotate(349deg);
    font-style: oblique;
  }
  .menu-title .menu-title__options {
    flex-direction: row;
    padding: 60px;
  }
  .menu-title__options .option {
    padding: 60px;
  }
  .appetizers-container,
  .sides-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  /* menu pizzas */
}
