:root {
  --black: #070505;
  --orange: #f87223;
  --light-gray: #eef1f4;
  --light-pink: #e4aba4;
  --light-red: #de2f2cc9;
  --brown: #5b3b2d;
  --brown-2: #9d3a11;
  --light-brown: #a48a6a;
  --blue: #283341;
  --yellow: #e0af4a;
}
* {
  margin: 0;
  box-sizing: border-box;
}
body {
  color: white(0, 0, 0);
  font-family: "Open Sans", sans-serif;
}
.background-img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: -1;
}
.order-container__background {
  width: 100vw;
  height: 100vh;
}
.clickable-log {
  position: absolute;
  top: clamp(20px, 5vh, 28px);
  left: clamp(20px, 10vw, 350px);
  width: clamp(100px, 15vw, 300px);
  border-radius: 50%;
  opacity: 0.9;
  transform: rotate(343deg);
  height: clamp(100px, 15vw, 300px);
  z-index: 3;
}

/* svg */
.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(237deg)
    brightness(103%) contrast(102%);
}

.order-container {
  color: black;
  display: flex;
  gap: 55px;
  justify-content: center;
  flex-wrap: wrap;
  padding: clamp(36px, 10vw, 70px) clamp(36px, 5vw, 50px);
}
.form__inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.order__form h1 {
  font-size: clamp(40px, 3em, 80px);
  font-weight: 700;
  font-family: "Poiret One", display;
  letter-spacing: 12px;
  color: rgb(51, 51, 51);

  padding: 30px 0;
  padding-bottom: 60px;
}
.order__form input {
  height: clamp(52px, 5vh, 54px);
  width: clamp(247px, 100%, 247px);
  border: none;
  border-bottom: rgb(51, 51, 51) solid 1px;
}
.order__form textarea {
  height: 150px;
  width: 100%;
  border: none;
  border-bottom: rgb(51, 51, 51) solid 1px;
}

input,
textarea {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: clamp(14px, 3em, 16px);
  font-weight: 400;
  outline: none;
  resize: vertical;
}

.order-container .order__map {
  height: clamp(200px, 50vh, 740px);
  width: clamp(288px, 80vw, 1080px);
  box-shadow: 3px 3px 13px -6px rgb(40 51 65 / 53%);
}
@media (min-width: 280px) and (orientation: portrait) {
  .order__form input {
    width: 100%;
  }
}
@media (max-width: 300px) and (min-height: 600px) and (orientation: portrait) {
  .logo,
  .clickable-log {
    top: 0;
    left: 0;
  }
}

@media (min-width: 768px) {
  .main-order {
    position: relative;
    min-height: 100vh;
  }
  .order-container + .footer-section {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .order-container {
    padding-bottom: clamp(400px, 30vh, 600px);
  }
  .order-container .order__form {
    max-width: 510px;
    min-height: 400px;
  }
}

@media (min-width: 1700px) and (orientation: landscape) {
  .order-container {
    padding-top: clamp(200px, 23vh, 300px);
  }
}
@media (min-width: 1790px) and (orientation: landscape) {
  .order-container {
    min-height: 80vh;
    padding-bottom: 0;
  }
}
